@use '../custom'as *;
// to make a border line to the right of service section
.border-right{
    border-right: 0.1rem solid $primary;
    height:100%;
}

.services {
    position:relative;
    padding:1rem 0;

    &__content {
        padding:1rem;
        margin-top: -2rem;

        @include media-breakpoint-up(lg){
            margin-top: 0;
        }

        .icon {
            font-size: 2.5rem;
            color:$primary;
        }
    } 
    
    &__pic {
        max-width: 100%;

        img {
            margin-top: -2rem;

            @include media-breakpoint-up(lg){
                margin-top: -3rem;
            }
            // @include media-breakpoint-up(md) { 
            //     margin-top: 0rem;
            //  }
            // @include media-breakpoint-down(md) { 
            //     margin-top: 0rem;
            //  }
            @include media-breakpoint-between(sm, xl) { 
                margin-top: 0rem;
             }
        }
    }
}

.display-3--title {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    // to make heading text colorful
    background-image: linear-gradient(to left, $secondary, $primary);
    background-clip: text;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}